

#main-gps-page {
  height: 100%;
  display: flex;
  flex-direction: column;

  app-gps-direction-bar {
    flex: 1;
    background-color: #e8e8e8;
  }
  app-gps-map {
    flex: 9;
  }
  app-gps-details-bar {
    flex: 2;
    background-color: #e8e8e8;
  }

}
