

#main-gps-page {
  height: 100%;
  display: flex;
  flex-direction: column;

  app-gps-direction-bar {
    flex: 1;
    background-color: #ffffff;
  }
  app-gps-map {
    flex: 12;
  }
  app-gps-details-bar {
    flex: 1;
    background-color: #ffffff;
  }

}
