

<div id="main-multi-checkpoints-section" >

  <form [formGroup]="checkpointForm" class="full-width">
    <div formArrayName="checkpoints">

      <div *ngFor="let number of checkpointForm.controls.checkpoints.controls; let i = index" >

        <div class="full-width input-btn-delete-checkpoint">
          <mat-form-field appearance="outline" >
            <mat-label>CheckPoint {{i+1}}</mat-label>

            <input matInput placeholder="CheckPoint {{i+1}}" formControlName="{{i}}" [matAutocomplete]="autoDestination">

            <mat-autocomplete #autoDestination="matAutocomplete">

              <mat-option *ngIf="isLoadingList[i]" class="is-loading">Loading...</mat-option>
              <ng-container *ngIf="!isLoadingList[i]">
                <mat-option *ngFor="let address of addressOptionsList[i]" [value]="address.display_name" (click)="onAddressChange(address, i)" (onSelectionChange)="onAddressChange(address, i)">
                  {{address.display_name}}
                </mat-option>
              </ng-container>
            </mat-autocomplete>

            <mat-icon matSuffix>my_location</mat-icon>
          </mat-form-field>

          <div>
            <button mat-mini-fab color="warn" (click)="deleteCheckPoint(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>

        </div>
      </div>


    </div>

    <button mat-stroked-button class="border-box-sizing full-width" (click)="onAddCheckpoint()">Add checkpoint</button>

    <button mat-stroked-button (click)="tst()">tst</button>

  </form>





</div>


