

#main-multi-checkpoints-section {
  border-left: 5px solid #d5d5d5;
  padding-left: 5%;
  margin-bottom: 20px;

  display: flex;
  justify-content: flex-start;
  align-items: center;

}


.input-btn-delete-checkpoint {
  display: flex;
  flex-direction: row;

  mat-form-field {
    flex: 5;
  }

  div {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 1.34375em;

  }
}

