
<section class="intern-main-section-searchbar">

  <h1>New itinerary</h1>

  <div>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Departure</mat-label>
      <input matInput placeholder="Enter the departure address">
      <mat-icon matSuffix>my_location</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Destination</mat-label>
      <input matInput placeholder="Enter the destination">
      <mat-icon matSuffix>my_location</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Road type</mat-label>
      <mat-select>
        <mat-option value="one">Road</mat-option>
        <mat-option value="two">Dirt</mat-option>
        <mat-option value="two">Bike path</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" class="full-width">Search</button>

  </div>




</section>


