
<section class="intern-main-section-searchbar">

  <h1>New itinerary</h1>

  <form [formGroup]="itineraryForm">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Departure</mat-label>
      <input matInput placeholder="Enter the departure address" formControlName="departure" [matAutocomplete]="autoDeparture" [formControl]="departureControl">

      <mat-autocomplete #autoDeparture="matAutocomplete">
        <mat-option *ngIf="departureAPICallIsLoading" class="is-loading">Loading...</mat-option>
        <ng-container *ngIf="!departureAPICallIsLoading">
          <mat-option *ngFor="let address of adressesOptionsDeparture" [value]="address.display_name" (click)="onAddressChange(address, 0)" (onSelectionChange)="onAddressChange(address, 0)">
            {{address.display_name}}
          </mat-option>
        </ng-container>

      </mat-autocomplete>


      <mat-icon matSuffix (click)="onFocus(0)" [ngClass]="isFocusOnDeparture ? 'selected' : 'not-selected'">my_location</mat-icon>


    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Destination</mat-label>
      <input matInput placeholder="Enter the destination" formControlName="destination" [matAutocomplete]="autoDestination" [formControl]="destinationControl">

      <mat-autocomplete #autoDestination="matAutocomplete">

        <mat-option *ngIf="destinationAPICallIsLoading" class="is-loading">Loading...</mat-option>
        <ng-container *ngIf="!destinationAPICallIsLoading">
          <mat-option *ngFor="let address of adressesOptionsDestination" [value]="address.display_name" (click)="onAddressChange(address, 1)" (onSelectionChange)="onAddressChange(address, 1)">
            {{address.display_name}}
          </mat-option>
        </ng-container>

      </mat-autocomplete>

      <mat-icon matSuffix (click)="onFocus(1)" [ngClass]="isFocusOnDestination ? 'selected' : 'not-selected'">my_location</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Road type</mat-label>
      <mat-select formControlName="roadType">
        <mat-option value="1">Road</mat-option>
        <mat-option value="2">Dirt</mat-option>
        <mat-option value="3">Bike path</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" class="full-width" (click)="onSearch()">Search</button>

  </form>

  <hr class="rounded">

  <div *ngIf="currentItinerary != null">

    <div *ngFor="let itIndex of this.indexesCurrentItinerary">
      <app-itinerary-card  class="itinerary-card-extern-container" indexItinerary="{{ itIndex }}"></app-itinerary-card>

      <div style="height: 15px;"></div>
    </div>


  </div>





</section>


