/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  // border: 3px solid red;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.max-spacer {
  flex: 1 1 auto;
}

.max-spacer-height {
  flex: 1 auto auto;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

hr.rounded {
  border-top: 2px solid #e8e8e8;
  border-radius: 1px;

  margin: 20px;
}
