

<section class="main-itinerary-section">

  <app-navbar></app-navbar>

  <mat-drawer-container class="main-container-map"  *ngIf="getScreenWidth >= 1180">

    <mat-drawer mode="side" opened class="main-inputs-section">
      <app-new-itinerary-bar></app-new-itinerary-bar>
    </mat-drawer>

    <mat-drawer-content>
      <app-itinerary-map [map]="this.map"></app-itinerary-map>
    </mat-drawer-content>

  </mat-drawer-container>


  <section *ngIf="getScreenWidth < 1180" class="phone-display-itinerary full-width" >

    <div id="mapContainer">
      <app-itinerary-map  class="full-height" [map]="this.map"></app-itinerary-map>
    </div>


    <app-new-itinerary-bar></app-new-itinerary-bar>

  </section>



</section>











