#map {
  height: 100%;
}


.main-itinerary-section {
  height: 100%;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

.main-container-map {
  box-sizing: border-box;
  flex:1;

}




