

<section class="main-itinerary-section">

  <app-navbar></app-navbar>

  <mat-drawer-container class="main-container-map"  *ngIf="getScreenWidth >= 1180">

    <mat-drawer mode="side" opened class="main-inputs-section">
      <app-new-itinerary-bar></app-new-itinerary-bar>
    </mat-drawer>

    <mat-drawer-content>
      <app-itinerary-map></app-itinerary-map>
    </mat-drawer-content>

  </mat-drawer-container>


  <section *ngIf="getScreenWidth < 1180" class="phone-display-itinerary full-height"  fxLayout="column" fxLayoutAlign=" stretch" >

    <div id="map" fxFlex="60"></div>

    <app-new-itinerary-bar fxFlex="40"></app-new-itinerary-bar>

  </section>



</section>











