

.main-itinerary-section {
  height: 100%;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

.main-container-map {
  box-sizing: border-box;
  flex:1;

}




.main-inputs-section {

  height: 100%;
  width: 35%;

  background: white;
  z-index: 2;
}


.example-container {
  width: 400px;
  height: 200px;
  margin: 10px;
}

.bottom-new-itinerary {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30%;
}


.legend {
}
