
<section>

  <h1>Add new amenity</h1>

  <mat-tab-group #tabGroup (selectedTabChange)="tabChanged($event)" [selectedIndex]="0">
    <mat-tab label="Drinking Water" [formGroup]="drinkingWaterForm">                                            <!-- amenity : drinking_water -->

      <h2 class="mt-10">Add new water point to OpenStreetMap</h2>

      <p>
        Is the water point private or public?                                 <!-- access : yes / private -->
        <mat-button-toggle-group formControlName="drinking_water_access">
          <mat-button-toggle value="private">Private</mat-button-toggle>
          <mat-button-toggle value="public">Public</mat-button-toggle>
        </mat-button-toggle-group>
      </p>

      <p>
        Is the water point paid or free?                                      <!-- fee : yes / no -->
        <mat-button-toggle-group formControlName="drinking_water_fee">
          <mat-button-toggle value="yes">Yes</mat-button-toggle>
          <mat-button-toggle value="no">No</mat-button-toggle>
        </mat-button-toggle-group>
      </p>

    </mat-tab>


    <mat-tab label="Repair Station" [formGroup]="repairStationForm">                                          <!-- amenity : bicycle_repair_station -->
      <h2 class="mt-10">Add new repair station to OpenStreetMap</h2>

      <p>
        Is the water point paid or free?                                      <!-- fee : yes / no -->
        <mat-button-toggle-group formControlName="repair_station_fee">
          <mat-button-toggle value="paid">Paid</mat-button-toggle>
          <mat-button-toggle value="free">Free</mat-button-toggle>
        </mat-button-toggle-group>
      </p>

      <p>
        Services available :                                                    <!-- attribute: value -->
        <mat-chip-list [multiple]="true">
          <mat-chip *ngFor="let bikeServiceRepairStation of bikeServicesRepairStation" (click)="onSelectRepairStation(bikeServiceRepairStation)" [selected]="bikeServiceRepairStation.isSelected">
            {{bikeServiceRepairStation.name}}
          </mat-chip>
        </mat-chip-list>
      </p>

    </mat-tab>
    <mat-tab label="Shelter" [formGroup]="shelterForm">
      <h2 class="mt-10">Add new shelter to OpenStreetMap</h2>
      <p>
        Is the shelter contains a bench?                                  <!-- bench : yes / no -->
        <mat-button-toggle-group formControlName="shelter_bench">
          <mat-button-toggle value="yes">Yes</mat-button-toggle>
          <mat-button-toggle value="no">No</mat-button-toggle>
        </mat-button-toggle-group>
      </p>

      <p>
        Is the shelter contains a bin?                                      <!-- bin : yes / no -->
        <mat-button-toggle-group formControlName="shelter_bin">
          <mat-button-toggle value="yes">Yes</mat-button-toggle>
          <mat-button-toggle value="no">No</mat-button-toggle>
        </mat-button-toggle-group>
      </p>

    </mat-tab>
    <mat-tab label="Toilets" [formGroup]="toiletsForm">
      <h2 class="mt-10">Add new toilets station to OpenStreetMap</h2>
      <p>
        Toilets type?                                  <!-- toilets:disposal : bucket / flush -->
        <mat-button-toggle-group formControlName="toilets_disposal">
          <mat-button-toggle value="flush">Flush</mat-button-toggle>
          <mat-button-toggle value="dry">Dry</mat-button-toggle>
        </mat-button-toggle-group>
      </p>

      <p>
        Is the water point private or public?                                 <!-- access : yes / private -->
        <mat-button-toggle-group formControlName="toilets_access">
          <mat-button-toggle value="private">Private</mat-button-toggle>
          <mat-button-toggle value="public">Public</mat-button-toggle>
        </mat-button-toggle-group>
      </p>

      <p>
        Gender?
        <mat-button-toggle-group formControlName="toilets_gender">
          <mat-button-toggle value="male">Male</mat-button-toggle>              <!-- male : yes -->
          <mat-button-toggle value="female">Female</mat-button-toggle>              <!-- female : yes -->
          <mat-button-toggle value="unisex">Unisex</mat-button-toggle>                <!-- unisex : yes -->
        </mat-button-toggle-group>
      </p>
    </mat-tab>
  </mat-tab-group>


  <div style="height: 30px"></div>


  <h2 class="mt-10">Enter your OpenStreetMap credentials</h2>
  <form [formGroup]="osmLoginForm" class="full-width">

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Email</mat-label>
      <input type="text" matInput formControlName="email">
    </mat-form-field>


    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Mot de passe</mat-label>
      <input type="password" matInput formControlName="password">
    </mat-form-field>
  </form>


  <button mat-raised-button color="primary" class="full-width" (click)="onValidate()" [disabled]="osmLoginForm.invalid">Validate</button>
</section>
