
<div class="itinerary-card-intern-container" (click)="onSelectedItinerary()" [ngClass]="isSelected() ? 'selected-card' : 'itinerary-card-intern-container'" >

  <h3 class="centered">Itinerary {{ +getIndex() + 1 }}</h3>

  <mat-tab-group>
    <mat-tab label="Details">

      <div class="details-grid-container">
        <div class="details-tail">
          <div class="details-tail-name">Distance</div>
          <div class="details-tail-infos">{{ this.lengthItineraryInKm }} km</div>
        </div>
        <div class="details-tail">
          <div class="details-tail-name">Time</div>
          <div class="details-tail-infos">{{ this.timeItinerary }}</div>
        </div>
        <div class="details-tail">
          <div class="details-tail-name">Inflection</div>
          <div class="details-tail-infos">+{{ this.inflationItinerary }} m</div>
        </div>
      </div>
      <div>
        <span class="protected-itinerary-background details-path-type" [ngStyle]="{'width':this.percentageRouteProfile[0]+'%'}" title="protected : {{(this.percentageRouteProfile[0]*(this.currentItinerary?.itinerary?.length ?? 0)/100000).toFixed(2)}}km"></span>
        <span class="dirt-itinerary-background details-path-type" [ngStyle]="{'width':this.percentageRouteProfile[1]+'%'}" title="dirt : {{(this.percentageRouteProfile[1]*(this.currentItinerary?.itinerary?.length ?? 0)/100000).toFixed(2)}}km"></span>
        <span class="road-itinerary-background details-path-type " [ngStyle]="{'width':this.percentageRouteProfile[3]+'%'}" title="road : {{(this.percentageRouteProfile[3]*(this.currentItinerary?.itinerary?.length ?? 0)/100000).toFixed(2)}}km"></span>
        <span class="pedestrian-itinerary-background details-path-type " [ngStyle]="{'width':this.percentageRouteProfile[2]+'%'}" title="pedestrian : {{(this.percentageRouteProfile[2]*(this.currentItinerary?.itinerary?.length ?? 0)/100000).toFixed(2)}}km"></span>
      </div>
      <button mat-raised-button class="full-width" (click)="launchItinerary()">Navigate</button>

    </mat-tab>
    <mat-tab label="Inflection">
      <div class="details-tail">
        <div class="details-tail-name">Profil</div>
        <div class="details-tail-infos">
          <plotly-plot [data]="graph.data" [layout]="graph.layout" ></plotly-plot>
        </div>
      </div>
    </mat-tab>
    <!-- <mat-tab label="Meteo"> Meteo </mat-tab> -->
  </mat-tab-group>


</div>


